body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #16232b;
    color: rgb(189, 187, 187);
    height: 100vh;
}

.dayMode {
    background-image: linear-gradient( to bottom, #adbc85, #676869);
    color: black;
}

.dayMode h1 {
    color: goldenrod;
    -webkit-text-stroke: 1px black;
}

.dayMode h2, .dayMode h3 {
    color:black;
}

.dayMode .more-info {
    background-color: #828e5f;
    color: black;
}

.dayMode .album-image {
    border-color: black;
}

.dayMode a {
    color: #150d7d;
}

.dayMode th {
    border-color: black;
}

.dayMode .footer {
    background-color: #adbc85;
    border-left: 10px solid #828e5f;
}

.dayMode .day-mode {
    display: initial;
}

.dayMode .night-mode {
    display: none;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgray;
}

h1 {
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 0px;
    font-weight: bold;
}

h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 0px;
    text-align: right;
}

a {
    color: lightslategray;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid lightgrey;
}

th:nth-child(2), td:nth-child(2) {
	width: 50px;
    text-align: right;
}

p {
    margin-bottom: 5px;
}

.heading {
    display: inline-block;
    margin-left: 10px;
}

body {
    margin: 0 auto;
    max-width: 1250px;
    padding: 10px;
}

.album-image {
    border: 3px solid lightgray;
}

.song-vid {
    margin-top: 10px;
    clear: both;
}

.info {
    width: 500px;
}

.name {
    text-align: left;
}

.footer {
    background-color: rgb(73, 73, 73);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;

    border-left:10px solid rgb(51, 51, 51);
}

.more-info {
    border: none;
    background-color: rgb(51, 51, 51);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: 25%;
    position: fixed;
    bottom: 10px;
    right: 36vw;
    min-width: 132px;
    color: lightgrey;
    cursor: pointer;
}

.more-info:hover {
    background-color: lightgrey;
    color: rgb(51, 51, 51);
}

.unformat-link {
    text-decoration: none;
    color: lightgrey;
}

.clear-both {
    clear: both;
}

.mt-0 {
    margin-top: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@media (max-width: 1230px) {
    body {
        margin: 0;
        width: 100%;
    }
    .info {
        float: none;
        clear: both;
    }
}

.dark-toggle {
    position: fixed;
    bottom: 7px;
    right: 0;
    padding: 10px;
}

.night-mode {
    position: fixed;
    bottom: 20px;
    right: 85px;
}

.day-mode {
    position: fixed;
    bottom: 20px;
    right: 85px;
    display: none;
}

/* Dark Mode Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #828e5f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #828e5f;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

    .slider.round {
    border-radius: 34px;
  }
  
    .slider.round:before {
    border-radius: 50%;
  }

input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

.label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.submit {
    /* align-content: center; */
    position: fixed;
    left: 50%;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .submit {
        left: 0px;
    }
  }